<div>
    <table class="table-border table">
        <thead>
            <tr>
                <td>Stt</td>
                <td>NAME</td>
                <td>PRICE</td>

                <a href="/add">add</a>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products,index as i ">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <button (click)="onHandleClick(item.id!)">Edit</button>
                <button (click)="removeItem(item.id!)">Remove</button>
            </tr>

        </tbody>

    </table>
</div>